[submodule "dependencies/assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/soloud"]
	path = external/soloud
	url = https://github.com/jarikomppa/soloud.git
