*.ply binary
*.obj binary
*.fbx binary
*.glb binary
*.gltf binary
*.abc binary
*.stl binary
*.dae binary

*.usd binary
*.usdc binary
*.usda binary

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
*.bmp binary
*.dds binary
